<!DOCTYPE html>
<html ng-app="sudoEarthQuake">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {% stylesheets 
                'bundles/app/vendor/bootstrap/css/bootstrap.min.css' filter='cssrewrite' 
                'bundles/app/vendor/bootstrap-sidebar/css/*' filter='cssrewrite'
                'bundles/app/css/*' filter='cssrewrite' 
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle toggle-left hidden-md hidden-lg" data-toggle="sidebar" data-target=".sidebar-left">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">EarthQuake Catalogue</a>
                </div>
            </div>
        </nav>
        <div class="body-content">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {% javascripts
                '@AppBundle/Resources/public/vendor/jquery/jquery-1.11.1.min.js'
                '@AppBundle/Resources/public/vendor/bootstrap/js/bootstrap.min.js'
                '@AppBundle/Resources/public/vendor/bootstrap-sidebar/js/*' 
                '@AppBundle/Resources/public/vendor/angular/angular.min.js'
                '@AppBundle/Resources/public/vendor/lodash/lodash.min.js' 
                '@AppBundle/Resources/public/vendor/angular-google-maps/angular-google-maps.min.js' 
                '@AppBundle/Resources/public/js/google-maps-loader.js' 
                '@AppBundle/Resources/public/js/controllers.js' 
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
