{% extends 'base.html.twig' %}

{% block body %}
{#
<div style="position: fixed; display: block; z-index: 1000; top: 50%;" class="hidden-md hidden-lg">
    <button type="button" data-toggle="sidebar" data-target=".sidebar-left">...</button>
</div>
#}
<div class="container-fluid" ng-controller="earthQuakeCatalogueCtrl">
    <div class="row">
        <div class="col-xs-7 col-sm-3 col-md-3 sidebar sidebar-left sidebar-animate sidebar-md-show">
            <div>
                <input type="number" ng-model="map.center.latitude" />
                <input type="number" ng-model="map.center.longitude" />
                <input type="number" ng-model="map.zoom" />
            </div>
        </div>
        <div id="map_canvas" class="main map-canvas col-md-9 col-md-offset-3">
            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                <ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius"
                visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable"></ui-gmap-circle>
            </ui-gmap-google-map>
        </div>
    </div>
</div>
{% endblock %}